* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
}

.search-form>.input-box {
  width: 40%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  transform:translateY(0%) translateX(240%)

}

.brand-list {
  text-decoration: none;
  border-radius: 100vh;
  color: #fff;
  background: blue;
  border: 6px ridge darkblue;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  color: #fff;
  background: blue;
  border: 6px ridge darkblue;
  border-radius: 100vh;
}


.logout {
  text-decoration: none;
  color: #fff;
  background: blue;
  border: 6px ridge darkblue;
  border-radius: 100vh;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  color: #fff;
  background: blue;
  border: 6px ridge darkblue;
  border-radius: 100vh;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  color: #fff;
  background: blue;
  border: 6px ridge darkblue;
  border-radius: 100vh;
}